<!DOCTYPE html>
<html>
<meta charset="utf-8">

<head>
  <title>试题</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
     <%include ./partials/infor.ejs%>
      <%include ./partials/fill.ejs%>
      <%include ./partials/choices.ejs%>
      <%include ./partials/choicem.ejs%>
      <%include ./partials/judge.ejs%>
      <%include ./partials/short.ejs%>
      <div class="form-group">
        <input type="submit" class="btn  btn-primary btn-lg" id='sub' name="name" value="提交">
      </div>

    </form>
  </div>
  <script src="/jquery/dist/jquery.min.js"></script>

</body>

</html>
